# Backend
PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/spa_ecommerce
CORS_ORIGIN=http://localhost:9000
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
MP_ACCESS_TOKEN=your-token
# Frontend
VITE_API_BASE_URL=http://localhost:3000
