PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/spa_ecommerce?schema=public"
CORS_ORIGIN=http://localhost:9000
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
MP_ACCESS_TOKEN=your-token
